* {
    font-family: Helvetica, 'sans-serif';
    font-size: 22px;
    margin: 0;
    padding: 0;
    color: seashell;
}

body {
    background-color: black;
    opacity: 0.9;
}
nav {
    height: 69px;
    border-bottom: 1px solid seashell;
    display: flex;
    align-items: center;
    justify-content: space-between;

}

#logo {
    padding: 0px;
    margin-left: 10px;
    height: 50px;
    display: inline;
}

ul {
    margin-right: 10px;
    display: flex;
    width: 350px;
    list-style-type: none;
    justify-content: space-between;
}

a {
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

#main-view {
    margin: 0 auto;
    display: flex;
    align-items: center;
    height: 700px;
    width: 1200px;
    
    background-image: url("assets/img-mission-background.png");
    background-size: cover;
    margin-bottom: 40px;
}

#main-view-text-container {
    background-color: black;
    height: 100px;
    width: 1200px;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
}

#tea-of-the-month-view {


    width: 1000px;
    height: 640px;
    margin: 0 auto;

    display: flex;
    flex-direction: column;
    justify-content: space-between;

    text-align: center;
}

#tea-of-the-month-cards-container {
    padding: 20px 0;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;    
}

#card {
    width: 300px;
    padding: 10px;
}

#card img {
    width: 300px;
    height: 200px;
    margin-bottom: 10px;
}


footer {
    width: 1200px;
    margin: 0 auto;
}

#footer-main-text-div {
    display: flex;
    height: 200px;
    justify-content: center;
    justify-items: center;
    flex-wrap: wrap;
}

#footer-main-text-div h2, #footer-main-text-div h5 {
    min-width: 1200px;
    text-align: center;
}