* {
    font-family: Helvetica, 'sans-serif';
    font-size: 22px;
    margin: 0;
    padding: 0;
    color: seashell;
}

body {
    background-color: black;
    opacity: 0.9;
}
nav {
    height: 69px;
    border-bottom: 1px solid seashell;
    display: flex;
    align-items: center;
    justify-content: space-between;

}

#logo {
    padding: 0px;
    margin-left: 10px;
    height: 50px;
    display: inline;
}

ul {
    margin-right: 10px;
    display: flex;
    width: 350px;
    list-style-type: none;
    justify-content: space-between;
}

a {
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}